body {
    text-align: center;
    font-family: 'Bilbo', cursive;
    background: linear-gradient(#8C8C88, #6C733D);
    color: #F2F2F2;
}

h1, h2, h3, h4, p {
    text-shadow: ;
}

#bff-img {
    width: 350px;
    border-radius: 80px;
    border: 2px solid #9DA65D;
    margin-bottom: 10px;
}

#bday-age {
    background: #9DA65D;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    text-shadow: 0 0 2px black;
}

#bday-date {
    margin: 0;
    background: #9DA65D;
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 0 0 2px black;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 220px;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/l49FjM2skpe4DbkWc/giphy.gif");
    width: 400px;
}

#gift-img-adventure:hover {
    background-image: url("https://media.giphy.com/media/85VmrCIsk7mO4/giphy.gif");
}

#gift-img-enjoy:hover {
    background-image: url("https://media.giphy.com/media/jBDM6ZJ6j0S88/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/WNwErIxqX18xmm92UX/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #F2F2F2;
}
